.Inbox {
    margin-left: 180px;
    margin-top: 20px;
    text-align: center;
}

.ReactTable input.checkbox {
	-webkit-appearance: checkbox;
    appearance: checkbox;
    opacity: 1;
    position: relative;
}