@import url('https://fonts.googleapis.com/css?family=Pacifico');

.App {
    text-align: center;
    background-color:  rgb(245, 245, 245);
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    font-family: 'Open Sans', sans-serif;
    height: 500px;
    }
body {
    background-color: white;
}

h1 {
    font-family:'Open Sans', sans-serif;
    font-weight: 150;
    font-size: 16px;
}

form {
    float: right;
    width: 85%;
}
/* without this CSS for the forms, formreview, & expenseformtitlecontainer, the form bleeds into the NavBar */

.FormReview {
    float: right;
    width: 85%;
}

.FormTitleContainer {
    float: right;
    padding: 20px 0px 10px;
    width: 85%;
}

/* styling added for the new expense button - requires the constructor function on expenses.js file */
.fixed-action-btn {
    padding: 0px 5px 5px 5px;
    height: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 5px;
    float: right;
    top: 0;
    margin-top: 40px;
}

#add-to-report {
    margin-top: 80px;
}

#expenses-something {
    width: 70%;
    background-color: rgb(160, 16, 16)
}

#logout-button {
    float: left;
    margin-right: 500px;
    margin-top: 200px;
    height: 100px;
    width: 180px;
    font-size: 40px;
    background-color: rgb(160, 16, 16)
}

.giphy-embed {
    margin-left: 200px;
    margin-top: 50px;
}

.k-checkbox {
    opacity: 1 !important;
    pointer-events: auto !important;
    height: 15px !important;
    width: 15px !important;
    position: relative !important;
    margin-top: 5px !important;
    border-width: 20px !important;
    border-style: solid !important;
}

.expense-table {
    text-align: center;
}

.demo-night {
    float: right;
    margin-right: 460px;
    font-size: 18px;
}

.indivExpense {
    text-align: center;
    font-size: 22px;
    list-style-position:inside;
    border: 6px solid lightsteelblue;
    opacity: 20;
    border-radius:16px;
    padding: 16px;
    padding-bottom: 40px;
    padding-left: 60px;
}

.allExpenses {
    padding-left: 20px;
    padding-bottom: 40px;
    list-style-position:inside;

}

.expenseButton {
    border:2px solid rgb(170, 170, 170);
    background-size: 100%;
    background-color: skyblue;
    padding-top: 2px;
    border-radius:10px;
    margin:0 auto;
    padding:6px;
    box-sizing:border-box;
    text-align: center;
    font-size: 14px; 
    float: right;
}

.expensesMain {
    width: 90%;
}

.lefty {
    float: left;
    padding-left: 60px;
}

.righty {
    float: right;
    padding-right: 60px;
}

.merchantSpan {
    float: left;
    font-size: 30px;
}