.App {
    text-align: center;
    background-color:  rgb(245, 245, 245);
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    font-family: 'Open Sans', sans-serif;
    height: 500px;
    }
body {
    background-color: rgb(206, 223, 216)
}

h1 {
    font-family:'Open Sans', sans-serif;
    font-weight: 900;
    font-size: 60px;
}

form {
    float: right;
    width: 80%;
}
/* without this CSS for the forms, formreview, & expenseformtitlecontainer, the form bleeds into the NavBar */

.FormReview {
    float: right;
    width: 80%;
}

#ExpenseFormTitleContainer {
    float: right;
    padding: 20px 0px 10px;
    width: 90%;
}
