.email {
    padding: 10px;
}

.col-md-3 {
    padding: 10px;
    float: left;
}

.col-md-9 {
    float: left;
}

.email-input {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    width: 50%;
    border-radius: 10px;
    text-align:center;
}

.password {
    padding: 10px;
}

.password-input {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    width: 50%;
    border-radius: 10px;
    text-align:center;
}

.email ::placeholder {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #666666;
}

.password ::placeholder {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #666666;
}

#email-input {
    font-size:20px;
}

.login-submit {
    height: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    background-color: rgb(22, 216, 22);
    border-radius: 10px;
}


FormControl:focus::-webkit-FormControl-placeholder {
  opacity: 0;
}
