.email {
    padding: 10px;
}


.col-centered{
    float: none;
    margin: 100px auto;
}

.avatar {
    float: left;
}

.form-block {
    float: left;
    width: 60%;
}

.email-input {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    width: 50%;
    border-radius: 10px;
    text-align:center;
}

.password {
    padding: 10px;
}

.password-input {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    width: 50%;
    border-radius: 10px;
    text-align:center;
}

.email ::placeholder {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #666666;
}

.password ::placeholder {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #666666;
}

#email-input {
    font-size:20px;
}

.login-submit {
    height: 32px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-align: center;
    position: relative;
    border-radius: 10px;
}

.float-right {
    float: right;
}


FormControl:focus::-webkit-FormControl-placeholder {
  opacity: 0;
}
