/* TAG ELEMENTS, WE REALLY SHOULD NOT USE THESE, TRY TO MAKE THEM ID'S OR CLASSES */




/* =================================================== */
/* ID ELEMENTS, BEST PRACTICE OVER ALL, BEST FOR THINGS THAT ONLY HAVE ONE PLACE THEY SHOWUP */

#exp-rep-navbar {
 /* this id is to lock navbar to the left side of the screen. colors can be changed to fit designers themes but others are to make sure that entire bar locks in well.  */
 height: 100%;
 width: 15%;/* this witch controls the entire navbar resize it to your liking */
 position: fixed;
 z-index: 1;
 top: 0;
 left: 0;
 background-color: rgba(5, 119, 150, 0.75);
 overflow-x: hidden;
 padding-top: 20px;
}

#navbar-avatar {
 /* made an ID for the expense page/report page navbar. design is responsive with this set up. colors ofcourse are optional. also allows for image upload, although the stock image is itself round, and any new images would need to be formated.  */
 display: block; 
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 100%;
    padding-bottom: 10%;
}

#about-receipty {
    color: White;
    position: absolute;
    bottom: 10px;
    width: 100%;
    font-size: 22px;
    z-index: initial;
    text-align: center;
    font-family: 'Pacifico', Helvetica, sans-serif;
}

/* =================================================== */
/* CLASSNAME ELEMENTS, WORKS WELL FOR THINGS THAT NEED TO BE USED OFTEN */

.navbar-ul {
 /* classname to avoid using element tags */
 list-style-type: none;
 margin: 0;
 padding: 0;
 width: 100%;
 background-color:rgba(5, 119, 150, 0);
 border-radius: 10px;
 text-align: left;
}

.navbar-li-a {
/* colors and further styling are optional. this set up allows for the current look.  */
 text-align: left;
 display: block;
 color: white;
 padding: 8px 16px;
 text-decoration: none;
 padding-bottom: 10%;


}

.navbar-li-a:hover {
 /* hover allows for a grey bar to pop up highlighting options that are able to be clicked.   */
 background-color: rgb(121, 162, 107);
 color: white;
}

.navbar-li-a-active {
 /* the active highlight is so that users know wich page they are on. currently timeboxing will return to it later relates to function activePageHighlighter  */
 background-color: rgb(18, 169, 23);
 width: 100%;
 color: white;
}
